/gen
/test/gen
/bin
/test/bin
/proguard-project.txt
/test/proguard-project.txt
/.classpath
/test/.classpath
/project.properties
/test/project.properties
/local.properties
/test/local.properties
/.project
/test/.project
/doc
/test/doc
/build.xml
/test/build.xml
/libs
/test/libs
