<?xml version="1.0" encoding="utf-8"?>
<!--
     To test a library project like Dyad, the Test Project needs to
     be both a normal Android Project and a Test Project. 
     A normal Project is created and the appropriate instrumentation
     and uses-library tags added. The project holds a reference to the
     Android Library Project that it wants to test. 
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.r2src.dyad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.r2src.dyad" />

    
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="com.r2src.dyad.permission.C2D_MESSAGE" /> 
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Only needed when using Bump -->
    <uses-permission android:name="android.permission.VIBRATE" />
	
	<permission android:name="com.r2src.dyad.permission.C2D_MESSAGE" 
	    		android:protectionLevel="signature" />
    
    
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="android.test.runner" />

	    <meta-data name="com.r2src.dyad.GCM_SENDER_ID" value="137457006510"/>
	    <meta-data name="com.r2src.dyad.HOST_NAME" value="goliath"/>
	    <meta-data name="com.r2src.dyad.PORT" value="9951"/>
	    
        <activity
            android:name=".example.MainActivity"
            android:label="@string/title_activity_main_activity2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Only needed when using Bump -->
    	<service android:name="com.bump.api.BumpAPI" >
        	<intent-filter>
            	<action android:name="com.bump.api.IBumpAPI" />
        	</intent-filter>
  		</service>
  		
    	<service android:name="com.r2src.dyad.gcm.IntentService" />

    	<receiver android:name="com.r2src.dyad.gcm.BroadcastReceiver" 
    	          android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="your.app.pkg" />
			</intent-filter>
		</receiver>
    </application>

</manifest>