<?xml version="1.0" encoding="utf-8"?>
<!-- To test a library project like Dyad, the Test Project needs to
     be both a normal Android Project and a Test Project. 
     A normal Project is created and the appropriate instrumentation
     and uses-library tags added. The project holds a reference to the
     Android Library Project that it wants to test. 
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.r2src.dyad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.r2src.dyad" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>